@page
@model DoctorBob.UI.Pages.StaffManager.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Erstellen</h1>

<h4>Personal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Staff.FirstName" class="control-label">Vorname</label>
                <input asp-for="Staff.FirstName" class="form-control" />
                <span asp-validation-for="Staff.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.LastName" class="control-label">Nachname</label>
                <input asp-for="Staff.LastName" class="form-control" />
                <span asp-validation-for="Staff.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Role" class="control-label">Rolle</label>
                <select asp-for="Staff.RoleId" class="form-control" asp-items="ViewBag.Role"></select>
                <span asp-validation-for="Staff.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Username" class="control-label">Benutzername</label>
                <input asp-for="Staff.Username" class="form-control" />
                <span asp-validation-for="Staff.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Password" class="control-label">Passwort</label>
                <input asp-for="Staff.Password" class="form-control" />
                <span asp-validation-for="Staff.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" /> |
                <a type="submit" class="btn btn-primary" asp-page="Index">Zurück zu Liste</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
