@page
@model DoctorBob.UI.Pages.TimeModelManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container border" style="padding: 20px">
    <h5>Sind Sie sicher, dass dieses Zeitmodell inaktiviert werden soll?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayName("Zeit")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeModel.Time)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="TimeModel.Id" />
            <input type="submit" value="Inaktivieren" class="btn btn-danger" />
            <input type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-page="./Index" />
        </form>
    </div>
    </div>
