@page
@model DoctorBob.UI.Pages.TherapyManager.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Erstellen</h1>

<h4>Therapie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Therapy.Name" class="control-label">Name</label>
                <input asp-for="Therapy.Name" class="form-control" />
                <span asp-validation-for="Therapy.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Therapy.QuantityOfDrug" class="control-label">Anzahl</label>
                <input asp-for="Therapy.QuantityOfDrug" class="form-control" />
                <span asp-validation-for="Therapy.QuantityOfDrug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Therapy.DrugId" class="control-label">Medikament</label>
                <select asp-for="Therapy.DrugId" class="form-control" asp-items="ViewBag.Drug"></select>
            </div>
            <div class="form-group">
                <label asp-for="Therapy.CaringStaffId" class="control-label">Verordnet durch</label>
                <select asp-for="Therapy.CaringStaffId" class="form-control" asp-items="ViewBag.CaringStaff"></select>
            </div>
            <div class="form-group">
                <label asp-for="Therapy.TimeModelId" class="control-label">Zeitmodell</label>
                <select asp-for="Therapy.TimeModelId" class="form-control" asp-items="ViewBag.TimeModel"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
                <a type="submit" class="btn btn-primary" asp-page="Index">Zurück zu Liste</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
