@page
@model DoctorBob.UI.Pages.RoomManager.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container border" style="padding: 20px">
    <h5>Sind Sie sicher, dass dieser Raum deaktiviert werden soll?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Room.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Room.Name)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Room.Id" />
            <input type="submit" value="Deaktivieren" class="btn btn-danger" />
            <input type="submit" class="btn btn-primary" value="Zurück zu Liste" asp-page="./Index" />
        </form>
    </div>
 </div>
